@model IEnumerable<Models.Employee>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="head">
        <h3>Users</h3>
        <a asp-action="Add"><i class="fas fa-plus"></i> Add</a>
    </div>
    <hr />
</div>
<div class="models">
    @foreach (var emp in Model)
        {
    <div class="cart">
        <div class="cart-img">
            <img src=@(emp.ImgUrl ?? "https://t4.ftcdn.net/jpg/00/64/67/63/360_F_64676383_LdbmhiNM6Ypzb3FM4PPuFP9rHe7ri8Ju.jpg") alt="profile_pic">
        </div>
        <div class="cart-body">
            <h2>@emp.Name @emp.Surname</h2>
            <p><span>Email:</span>@emp.Email</p>
            <p><span>Phone:</span>@emp.Phone</p>
        </div>
        <div class="cart-action">
            @Html.ActionLink("View", "Edit", "Employee", new {id = @emp.Id}, new {@class= "view"})
            @Html.ActionLink("Delete", "Delete", "Employee", new {id = @emp.Id}, null)
        </div>
    </div>
        }
</div>